.file_select::file-selector-button{
    margin-top: 2%;
    border-radius: 15px;
    background-color: #1c3e6e;
    color: white;
    width: 8em;
    height: 1.5em;
    border: none;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

.file_select::file-selector-button:hover{
    opacity: 0.75
}

.download-syllabus-button{
    margin-top: 2%;
    border-radius: 15px;
    background-color: #1c3e6e;
    color: white;
    width: 8em;
    height: 3em;
    border: none;
    font-size: 1.2em;
    text-align: center;
}

.download-syllabus-button:hover{
    opacity: 0.75;
}

.file_upload{
    margin-top: 2%;
    border-radius: 15px;
    background-color: #1c3e6e;
    color: white;
    width: 8em;
    height: 1.5em;
    border: none;
    font-size: 1em;
    text-align: center;
    float: left;
}

.file_upload:hover{
    opacity: 0.75;
}